<span class="head">
  <span class="tabs">
    {% for group in emoji_groups() %}
    <label title="{{ group }}"><input type="radio" name="emoji-group" {% if loop.first %}checked{% endif %}>{{ emoji_groups()[group][0] }}</label>
    {% endfor %}
  </span>
  <span class="tones">
    {% for tone in emoji_tones %}
    <label><input type="radio" name="tone" value="{{ tone }}" {% if loop.first %}checked{% endif %}>&#9995;{{ tone }}</label>
    {% endfor %}
  </span>
</span>
<span class="pages">
  {% for group, choices in emoji_groups().items() %}
  <span class="page">{% for choice in choices %}<button class="action" name="emoji" value="{{ choice }}">{{ choice }}</button>{% endfor %}</span>
  {% endfor %}
</span>

