{% if relationship and relationship.following %}
<button class="follow-button is-following" hx-post="/@{{ handle }}/unfollow"
        hx-swap="outerHTML" hx-disabled-elt="this">Unfollow</button>
{% elif relationship and relationship.requested %}
<button class="follow-button is-requested" hx-post="/@{{ handle }}/unfollow"
        hx-swap="outerHTML" hx-disabled-elt="this">Requested</button>
{% else %}
<button class="follow-button" hx-post="/@{{ handle }}/follow"
        hx-swap="outerHTML" hx-disabled-elt="this">Follow</button>
{% endif %}

