{% extends "base.html" %}
{% block title %}{{ account.display_name or account.username }} (@{{ account.acct }}) — ProFed{% endblock %}
{% block content %}
{% if account.resume %}
<article class="h-resume profile">
  {% set nested_in_resume = true %}
  {% include "profile_card.html" %}
  <section class="resume">
    {% if account.resume.experience %}
    <h2>Experience</h2>
    {% for job in account.resume.experience %}
    <div class="p-experience h-event">
      <p><span class="p-name">{{ job.name }}</span>{% if job.organization %} at <span class="p-location">{{ job.organization }}</span>{% endif %}</p>
      {% if job.start or job.end %}<p class="dates"><time class="dt-start" datetime="{{ job.start }}">{{ job.start }}</time>{% if job.end %} - <time class="dt-end" datetime="{{ job.end }}">{{ job.end }}</time>{% endif %}</p>{% endif %}
      {% if job.description %}<div class="p-description">{{ job.description | sanitize | safe }}</div>{% endif %}
      {% if job.url %}<a class="u-url" href="{{ job.url }}">{{ job.url }}</a>{% endif %}
      {% if job.projects %}<ul class="job-projects">{% for project in job.projects %}<li>{{ project }}</li>{% endfor %}</ul>{% endif %}
    </div>
    {% endfor %}
    {% endif %}

    {% if account.resume.education %}
    <h2>Education</h2>
    {% for edu in account.resume.education %}
    <div class="p-education h-event">
      <p><span class="p-name">{{ edu.name }}</span>{% if edu.organization %} at <span class="p-location">{{ edu.organization }}</span>{% endif %}</p>
      {% if edu.start or edu.end %}<p class="dates"><time class="dt-start" datetime="{{ edu.start }}">{{ edu.start }}</time>{% if edu.end %} - <time class="dt-end" datetime="{{ edu.end }}">{{ edu.end }}</time>{% endif %}</p>{% endif %}
      {% if edu.description %}<div class="p-description">{{ edu.description | sanitize | safe }}</div>{% endif %}
    </div>
    {% endfor %}
    {% endif %}

    {% if account.resume.projects %}
    <h2>Projects</h2>
    {% for proj in account.resume.projects %}
    <div class="p-x-project h-item">
      <p class="p-name">{{ proj.name }}</p>
      {% if proj.description %}<div class="p-description">{{ proj.description | sanitize | safe }}</div>{% endif %}
      {% if proj.url %}<a class="u-url" href="{{ proj.url }}">{{ proj.url }}</a>{% endif %}
    </div>
    {% endfor %}
    {% endif %}

    {% if account.resume.skills %}
    <h2>Skills</h2>
    <ul class="skills">
      {% for skill in account.resume.skills %}<li class="p-skill">{{ skill.name }}</li>{% endfor %}
    </ul>
    {% endif %}
  </section>
  {% endif %}
</article>

{% else %}
{% include "profile_card.html" %}
{% endif %}

<section class="h-feed posts">
  <h2>Latest posts</h2>
  {% set show_author = false %}
  {% for status in statuses %}
  {% include "status.html" %}
  {% else %}
  <p class="empty">No posts yet.</p>
  {% endfor %}
</section>
{% endblock %}

