<article class="h-entry status">
  {% if show_author is not defined or show_author %}
  <a class="p-author h-card author" rel="author" href="{{ status.account.url }}">
    {% if status.account.avatar %}
    <img class="u-photo avatar" src="{{ status.account.avatar }}" alt="">
    {% else %}
    <span class="avatar avatar-fallback">{{ (status.account.display_name or status.account.username)[:2] | upper }}</span>
    {% endif %}
    <span class="p-name">{{ status.account.display_name or status.account.username }}</span>
    <span class="acct">@{{ status.account.acct }}</span>
  </a>
  {% endif %}
  <div class="e-content">{{ status.content | sanitize | safe }}</div>
  {% if status.tags %}
  <ul class="tags">
    {% for tag in status.tags %}
    <li><a class="tag" rel="tag" href="{{ tag.url }}">#<span class="p-category">{{ tag.name }}</span></a></li>
    {% endfor %}
  </ul>
  {% endif %}
  <footer class="status-meta">
    <a class="u-url permalink" href="{{ status.url }}">
      <time class="dt-published" datetime="{{ status.created_at }}">{{ status.created_at[:10] }}</time>
    </a>
    <data class="u-uid" value="{{ status.uri }}"></data>
    <span class="reblogs">&#8634; {{ status.reblogs_count }}</span>
    <span class="favourites">&#9829; {{ status.favourites_count }}</span>
  </footer>
</article>

